<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Feed</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Twitter Feed</h1>
    </header>
    <div id='tweet-wrapper container'>
      <div class='tweet'>
        <a href="http://www.twitter.com/nodejs">
          <div class='main-details container'>
            <img src="http://pbs.twimg.com/profile_images/702185727262482432/n1JRsFeB_normal.png"/>
            <h4>Node.js</h4>
            <h6>@nodejs</h6>
          </div>
        </a>
        <div class='tweet-body'>
          <p>RT @jdalton: 👏 Node 0.10 is being deprecated on AWS Lambda &; won't be available to new functions starting 11/14 – https://t.co/w7lKwOnXI3</p>
        </div>
      </div>

      <div class='tweet'>
        <a href="http://www.twitter.com/nodejs">
          <div class='main-details container'>
            <img src="http://pbs.twimg.com/profile_images/702185727262482432/n1JRsFeB_normal.png"/>
            <h4>Node.js</h4>
            <h6>@nodejs</h6>
          </div>
        </a>
        <div class='tweet-body'>
          <p>Why is it important to attend conferences like Node.js Interactive?</p>
        </div>
      </div>

      <div class='tweet'>
        <a href="http://www.twitter.com/nodejs">
          <div class='main-details container'>
            <img src="http://pbs.twimg.com/profile_images/702185727262482432/n1JRsFeB_normal.png"/>
            <h4>Node.js</h4>
            <h6>@nodejs</h6>
          </div>
        </a>
        <div class='tweet-body'>
          <p>Why are more companies turning to Node.js? @darrylktaft explores this topic in his latest article: https://t.co/cEXCh9eDt5</p>
        </div>
      </div>

      <div class='tweet'>
        <a href="http://www.twitter.com/nodejs">
          <div class='main-details container'>
            <img src="http://pbs.twimg.com/profile_images/702185727262482432/n1JRsFeB_normal.png"/>
            <h4>Node.js</h4>
            <h6>@nodejs</h6>
          </div>
        </a>
        <div class='tweet-body'>
          <p>Node.js v0.10 reached its "end of life" yesterday. ⏰ to upgrade! Details on Node.js v6 here: https://t.co/FuXxfl6Jko</p>
        </div>
      </div>
    </div>
  </body>
</html>
