* {
  box-sizing: border-box;
}

body {
  padding: 5px;
  background: #577399;
  max-width: 751px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}

.mid-screen {
  display: none;
}



/*
  Header Styles
*/

header {
  padding: 5px 0;
  text-align: center;
}

header h1 {
  margin: 0 0 5px;
  font-family: 'Dosis', sans-serif;
}

header h1 a {
  color: orange;
}

header h1 a:hover {
  color: #97B1A6;
}



/*
  Search Form Styles
*/

#search-form {
  text-align: center;
}

#search-form input {
  background: #FFF;
  margin-bottom: 5px;
}

#search-form input,
#search-form button {
  border-radius: 5px;
  height: 27px;
  border: 2px solid #97B1A6;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#search-form .form-group {
  display: inline-block;
}

#search-form label {
  color: lightgray;
}

.small-screen label {
  margin-bottom: 2px;
  display: block;
  font-size: .8em;
}

#search-form input[type="number"] {
  width: 37px;
}

#search-form button {
  background: white;
  color: #577399;
}

#search-form button:hover {
  color: #97B1A6;
}

#search-form input:focus,
#search-form button:focus {
    outline: none;
}


/*
  Error Message Styles
*/

.error, .message {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.error, .message,
.message a {
  color: orange;
}

.message a:hover {
  color: #97B1A6;
}



/*
  Tweet Wrapper Styles
*/

#tweet-wrapper {
  flex-wrap: wrap;
}



/*
  Tweet Styles
*/

.tweet {
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  background: #DFE0E2;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.tweet h4 {
  font-family: 'Dosis', sans-serif;
  margin: 0;
}

.tweet h6,
.tweet p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

  /*
    Tweet Styles (Main Details)
  */

.main-details {
  height: 53px; /* 48px img height + 5px bottom padding */
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.main-details a {
  color: black;

  /* Flexbox Details */
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.main-details a:hover {
  color: slategray;
}

.main-details img {
  height: 48px;
  width: 48px;
  border-radius: 7px;
  border: 2px solid #97B1A6;
  margin-right: 5px;

}

  /*
    Tweet Styles (Tweet Body)
  */

.tweet-body p {
  font-size: .7em;
}



/* RESPONSIVE STYLING FOR MED-LG SCREENS */

@media screen and (min-width: 350px) {
  .small-screen {
    display: none;
  }

  .mid-screen {
    display: initial;
  }

  #search-form .form-group,
  #search-form .form-group label,
  #search-form .form-group input[type='text'] {
    display: block;
  }

  #search-form .form-group input {
    margin: 0 auto 5px;
  }

  #tweet-wrapper {
    margin-top: 5px;
  }

  .tweet {
    width: 48%;
    margin: 5px 1%;
  }

  .tweet h4 {
    font-size: 1.1em;
    margin-bottom: 2px;
  }

  .tweet h6 {
    font-size: .75em;
  }

}

@media screen and (min-width: 751px) {
  #search-form .form-group label,
  #search-form .form-group input[type='text'] {
    display: inline-block;
  }

  .tweet {
    border-radius: 7px;
    margin: 10px 1%;
  }

  .tweet h4 {
    font-size: 1.3em;
    margin-bottom: 2px;
  }

  .tweet h6 {
    font-size: .9em;
  }

  .tweet p {
    font-size: 1em;
  }
}
