* {
  box-sizing: border-box;
}

body {
  padding: 5px;
  background: #577399;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}



/*
  Header Styles
*/

header {
  padding: 5px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  color: #97B1A6;
}



/*
  Tweet Wrapper Styles
*/

#tweet-wrapper {
  flex-wrap: wrap;
}



/*
  Tweet Styles
*/

.tweet {
  padding: 5px;
  margin: 5px 0;
  border-radius: 3px;
  border: 1px solid black;
  background: #DFE0E2;
  width: 100%;
}

.tweet h4 {
  font-family: 'Dosis', sans-serif;
  margin: 0;
}

.tweet h6,
.tweet p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

  /*
    Tweet Styles (Main Details)
  */

.main-details {
  height: 53px; /* 48px img height + 5px bottom padding */
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  color: black;

  /* Flexbox Details */
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.main-details:hover {
  color: slategray;
}

.main-details img {
  height: 48px;
  width: 48px;
  border-radius: 7px;
  border: 2px solid #97B1A6;
}

  /*
    Tweet Styles (Tweet Body)
  */

.tweet-body p {
  font-size: .7em;
}



/* RESPONSIVE STYLING FOR MED-LG SCREENS */

@media screen and (min-width: 321px) {

}


